@charset "UTF-8";

.ans:hover
{
	/*background-color:#2D4559;*/
	background-color: #ddd;
	text-align: left;
	
}

input[type='radio'] 
{ 
	transform: scale(1.3); 
}

.quizTable
{
	border-collapse: collapse;
	border: 0px solid #ddd;
	text-align:center;
	background-color: white;
	font-family: Comic Sans MS,Calibri,miriam,david,arial;
	font-size: 18px;
	margin: 0 auto;
	padding: 15px;
	width: 60%;
	border: 0px solid;
	
}

.quizTable:hover
{
	background-color:white;
}
